{% extends "base_generic.html" %}

{% block content %}
  <h1>Gra: {{ game.date }}</h1>
  <p><strong>Notatki:</strong> {{ game.notes }}</p>
  <p><b>Zapisanych graczy: {{game.squad_set.count}}</b></p>

  <div style="margin-left:20px;margin-top:20px">
    <h2>Zawodnicy</h2>
    <div>
      
    {% for squad in game.squad_set.all %}
      {% if squad.substitution_order > 0 %}
        <p>
          <p><a href="{{ squad.player.get_absolute_url }}">{{ squad.player.username }}</a>
            {{squad.substitution_order}} 
            (<a href="{{ squad.absent_player.get_absolute_url }}">{{ squad.absent_player.username }}</a>)
        </p>
      {% else %}
        <p><a href="{{ squad.player.get_absolute_url }}">{{ squad.player.username }}</a></p>
      {% endif %}
      
    {% endfor %}
    </div>

{% endblock %}

