{% extends "base_generic.html" %}

{% block content %}
  <h1>Player: {{ player.username }}</h1>

  <p><strong>Name:</strong> {{ player.name }}</p>
  <p><strong>Surname:</strong> {{ player.surname }}</p>
  <p><strong>Phone:</strong> {{ player.phone }}</p>
  <p><strong>email:</strong> {{ player.email }}</p>
  <p><strong>Permanent:</strong> {% if player.is_permanent %}YES{% else %}NO{% endif %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Mecze</h4>

    {% for squad in player.squad_set.all %}
      <p>{{ squad }}</p>
    {% endfor %}
  </div>


{% endblock %}

